<mat-card>
  <h4>Dashboard</h4>
  <div fxLayout="row wrap" class="col-gap">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
      <mat-card>
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
      </mat-card>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60">
      <mat-card>
        <div id="chartLineContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
      </mat-card>
    </div>
  </div>

</mat-card>
