<mat-card>
  <h4>Profile Information</h4>
  <div class="pt-3">
    <div class="proflie-field mb-3">
      <label>Prénom:</label>
      <span>{{Prenom}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>Nom:</label>
      <span>{{Nom}}</span>
    </div>

    <div class="proflie-field mb-3">
      <label>Date of birth:</label>
      <span>{{birth}}</span>
    </div>

    <div class="proflie-field mb-3">
      <label>Adresse:</label>
      <span>{{Adresse}}</span>
    </div>
    <div class="proflie-field mb-3">
      <label>E-mail:</label>
      <span>{{Email}}</span>
    </div>

    <button mat-raised-button color="accent" [routerLink]="['edit']" [queryParams]="{type:'info'}">Modifier</button>
  </div>
</mat-card>
