<mat-card>
  <h4 class="mb-3">Mes devis</h4>
  <input [(ngModel)]="searchText" placeholder="chercher reference" class="advancedSearchTextbox">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Reference</th>
      <th scope="col">Date génération</th>
      <th scope="col">Durée</th>
      <th scope="col">Exipiré</th>
      <th scope="col"> Généré en facture</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody *ngFor="let element of quote | grdFilter: {reference: searchText}; let i=index;">
    <tr>
      <th scope="row">{{i}}</th>
      <td [ngClass]="{'make-gold':element.expired && element.generatedToInvoice == 0}" > {{element.reference}} </td>
      <td [ngClass]="{'make-gold':element.expired && element.generatedToInvoice == 0}" > {{element.dateQuote| date:'MMMM d, y'}}</td>
      <td [ngClass]="{'make-gold':element.expired && element.generatedToInvoice == 0}" >{{element.duration}} </td>
      <td [ngClass]="{'make-gold':element.expired && element.generatedToInvoice == 0}"> {{element.expired}}</td>
      <td [ngClass]="{'make-gold':element.expired && element.generatedToInvoice == 0}" >
        <span  *ngIf="element.generatedToInvoice == 1 " > {{genereted}}</span>
        <span *ngIf="element.generatedToInvoice == 0 "> {{nongenereted}}</span>
      </td>
      <td> <a href="javascript:void" class="accent-color"  [routerLink]="['/account/history-details-quote-admin', element.reference]">   <i class="material-icons">
        remove_red_eye
      </i></a>
      </td>
    </tr>

    </tbody>
  </table>
</mat-card>
